{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>

<div class="head">
    <a href="{{=URL('default','index')}}"><img src={{=URL('static', 'images/NextBus_logo.jpg')}} alt="NextBus Logo" style="width:250px;height:200px;"></a>
</div>

<div class="col-md-12" id=""description">
        NextBus is a solution for your everyday problems ... Tired of seeign the bus leaving 50 meters in front of you ? Tired of waiting for this same bus for 10 minutes in the cold ?
        NextBus is here for you. With it's simple and elegant user interface, this solution will enable you to know when the next bus is coming.
</div>

<div class="col-md-12" id="boutus">
    <h2>Who are we ?</h2>
    Benoit Palabre, University of Bordeaux --
    <a href="mailto:bpalabre@ucsc.edu">bpalabre@ucsc.edu</a>
    <br><br>
    Joe Preyer, University of Cape Town --
    <a href="mailto:jpreyer@ucsc.edu">jpreyer@ucsc.edu</a>
</div>