{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>

<div class="head">
    <a href="{{=URL('default','index')}}"><img src={{=URL('static', 'images/NextBus_logo.jpg')}} alt="NextBus Logo" style="width:250px;height:200px;"></a>
</div>

<div class="col-md-12">
    <h2>Who are we ?</h2>
    <p>Benoit Palabre, University of Bordeaux -- bpalabre@ucsc.edu</p>
    <p>Jos Preyer, University of Cape Town -- jpreyer@ucsc.edu</p>
</div>