{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
<a href="{{=URL('default','index')}}"><img src={{=URL('static', 'images/NextBus_logo.jpg')}} alt="NextBus Logo" style="width:250px;height:200px;"></a>

<a href="{{=URL('default','addSchedule')}}">ADD SCHEDULE</a>

<h4>From:</h4>
<select value='{%fromStop%}'>
    <option value = "">Origin</option>
    {%#stops%}
        <option value='{%id%}'>{%name%}</option>
    {%/stops%}
</select>
<br>

<h4>To:</h4>
<select value='{%toStop%}'>
    <option value = "">Destination</option>
    {%#stops%}
        <option value='{%id%}'>{%name%}</option>
    {%/stops%}
</select>
{%#if closestTimes!=""%}
<h4>#1: {%closestTimes[0]%}</h4>
<h4>#2: {%closestTimes[1]%}</h4>
<h4>#3: {%closestTimes[2]%}</h4>
{%/if%}
<br>
<br>
{%#if fromStop!="" && toStop!=""%}<a class="btn btn-primary" href="#" on-click="findTimes">
  <i class="fa fa-plus-circle fa-lg"></i>Find Times</a>{%/if%}

<a class="btn btn-primary" href="#" on-click="switchStops">
  <i class="fa fa-plus-circle fa-lg"></i>Switch</a>
</script>

<script>
$(function() {

  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
        fromStop: "",
        toStop: "",
        direction: "",
        closestTime: "",
        closestTimes: "",
        stops: [
            { id: '1', name: 'Barn Theatre' },
            { id: '2', name: 'High and Western' },
            { id: '3', name: 'Arboretum' },
            { id: '4', name: 'Porter/Eight/Oakes' },
            { id: '5', name: 'Kresge' },
            { id: '6', name: 'Science Hill' },
            { id: '7', name: 'Nine and Ten' },
            { id: '8', name: 'Bookstore' },
            { id: '9', name: 'East Remote' },
            { id: '10', name: 'Village' },
            { id: '11', name: 'Lower Campus' }
        ]
    }
  });
  MAIN.on("switchStops", function(e) {
    var startID = parseInt(MAIN.get('fromStop'));
    var stopID = parseInt(MAIN.get('toStop'));
    MAIN.set('fromStop', stopID);
    MAIN.set('toStop', startID);
  });

  MAIN.on("findTimes", function(e) {
    var startID = parseInt(MAIN.get('fromStop'));
    var stopID = parseInt(MAIN.get('toStop'));

    $.ajax("{{=URL('default', 'getDirection', user_signature=True)}}",
          {
            dataType: "json",
            data: {
              startID: startID,
              stopID: stopID
            },
            method: 'POST',
            success: function (data) {
              MAIN.set('direction', data['direction']);
              var direction = MAIN.get('direction');
              $.ajax("{{=URL('default', 'findTimes', user_signature=True)}}",
              {
                dataType: "json",
                data:
                {
                startID: startID,
                direction: direction
                },
                method: 'POST',
                success: function (data)
                {
                  MAIN.set('closestTimes', data['closestTimes']);
                  var closestTimes = MAIN.get('closestTimes');

                }
              }
                  );
            }
          }
    );



  });
//{%#if fromStop!=None%}{%/if%}
});
</script>


